<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all chats </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All chats : <%= reso.length %></h2> 
    <form action="/chats/new">
        <button>create new chat</button>
    </form>
    <br>
    <% for(let chat of reso){ %>
        <div class="chat" >
            <p class="from"> from: <i><%= chat.from %></i></p>
            <p class="to"> to: <i><%= chat.to %></i></p>
            <p class="msg"> message :<%= chat.msg %></p> 
            <form action="/chats/<%= chat._id %>/edit" method="get">
                <button>edit</button>
            </form>
            <p class="time"> <%= chat.created_at.toString().split(" ")[4] %></p>  
         <p class="time"> <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>

         <form action="/chats/<%= chat._id  %>/delete?_method=DELETE" method="post">
            <button>delete</button>
         </form>
        </div>
        <hr>
  <%  } %>

</body>
</html>